In [1]:
# pip install pandas

In [2]:
import pandas as pd

## Compare prizes and correctedprizes files:

#### 5 minutes

In [3]:
corrected_prize_05_path = "C:/Users/sumed/BDS-SROP-24/spras_raw_data/correctedprize_05.csv"
prize_05_path = "C:/Users/sumed/BDS-SROP-24/spras_raw_data/prize_05.csv"

In [4]:
corrected_prize_05 = pd.read_csv(corrected_prize_05_path, sep='\t', lineterminator='\n')
corrected_prize_05.head()

  Uniprot     Prize
0  B0YIW2  5.029366
1  Q99081  4.582688
2  P02765  4.027456
3  P69905  3.955817
4  P06732  3.885428

In [5]:
prize_05 = pd.read_csv(prize_05_path, sep='\t', lineterminator='\n')
prize_05.head()

  Uniprot     Prize
0  B0YIW2  5.029366
1  Q99081  4.582688
2  P02765  4.027456
3  P69905  3.955817
4  P06732  3.885428

In [6]:
len(corrected_prize_05)

1123

In [7]:
len(prize_05)

1126

In [8]:
split_df = prize_05['Uniprot'].str.split('-', expand=True)
split_df.columns = ['majorIdentifier', 'integerN']
split_df = split_df.fillna('')
prize_05 = pd.concat([prize_05, split_df], axis=1)
prize_05.head()

  Uniprot     Prize majorIdentifier integerN
0  B0YIW2  5.029366          B0YIW2
1  Q99081  4.582688          Q99081
2  P02765  4.027456          P02765
3  P69905  3.955817          P69905
4  P06732  3.885428          P06732

In [9]:
secondary_identifiers_05 = prize_05[prize_05['integerN'] != '']
print(str(len(secondary_identifiers_05)) + " proteins with isoform syntax")
secondary_identifiers_05.head()

168 proteins with isoform syntax

     Uniprot     Prize majorIdentifier integerN
16  P68363-2  3.324208          P68363        2
17  P61978-2  3.318842          P61978        2
27  Q8IX15-3  3.160465          Q8IX15        3
31  Q9Y6V0-5  3.139505          Q9Y6V0        5
33  P49790-3  3.138374          P49790        3

##### find intersection i.e. repeats of the same protein in prize_05

In [10]:
secondary_identifiers_05_list = secondary_identifiers_05['majorIdentifier'].tolist()
prize_05_uniprot_list = prize_05['Uniprot'].tolist()
intersection_05 = list(set(secondary_identifiers_05_list) & set(prize_05_uniprot_list))
print("Intersection:", intersection_05)

Intersection: ['P49790', 'P26358']

In [12]:
for item in intersection_05:
    print(secondary_identifiers_05.loc[secondary_identifiers_05['majorIdentifier'] == item])
    print(prize_05.loc[prize_05['Uniprot'] == item])
    print('---x---')

     Uniprot     Prize majorIdentifier integerN
33  P49790-3  3.138374          P49790        3
    Uniprot     Prize majorIdentifier integerN
675  P49790  1.655626          P49790
---x---
      Uniprot    Prize majorIdentifier integerN
368  P26358-2  1.98066          P26358        2
    Uniprot     Prize majorIdentifier integerN
339  P26358  2.001547          P26358
---x---

#### 60 minutes

In [13]:
corrected_prize_060_path = "C:/Users/sumed/BDS-SROP-24/spras_raw_data/correctedprize_060.csv"
prize_060_path = "C:/Users/sumed/BDS-SROP-24/spras_raw_data/prize_060.csv"

In [14]:
corrected_prize_060 = pd.read_csv(corrected_prize_060_path, sep='\t', lineterminator='\n')
corrected_prize_060.head()

  Uniprot     Prize
0  A9Z1X7  6.343097
1  Q99081  6.341176
2  Q14152  6.278851
3  P69905  5.581821
4  B0YIW2  5.581821

In [15]:
prize_060 = pd.read_csv(prize_060_path, sep='\t', lineterminator='\n')
prize_060.head()

  Uniprot     Prize
0  A9Z1X7  6.343097
1  Q99081  6.341176
2  Q14152  6.278851
3  B0YIW2  5.581821
4  P69905  5.581821

In [16]:
len(corrected_prize_060)

1780

In [17]:
len(prize_060)

1788

In [18]:
split_df = prize_060['Uniprot'].str.split('-', expand=True)
split_df.columns = ['majorIdentifier', 'integerN']
split_df = split_df.fillna('')
prize_060 = pd.concat([prize_060, split_df], axis=1)
prize_060.head()

  Uniprot     Prize majorIdentifier integerN
0  A9Z1X7  6.343097          A9Z1X7
1  Q99081  6.341176          Q99081
2  Q14152  6.278851          Q14152
3  B0YIW2  5.581821          B0YIW2
4  P69905  5.581821          P69905

In [19]:
secondary_identifiers_060 = prize_060[prize_060['integerN'] != '']
print(str(len(secondary_identifiers_060)) + " proteins with isoform syntax")
secondary_identifiers_060.head()

253 proteins with isoform syntax

     Uniprot     Prize majorIdentifier integerN
8   Q9UKV3-5  5.158391          Q9UKV3        5
9   Q96DC7-2  5.086508          Q96DC7        2
11  P37802-2  4.898987          P37802        2
13  Q9NRA8-3  4.898987          Q9NRA8        3
28  Q13740-2  4.630059          Q13740        2

##### find intersection i.e. repeats of the same protein in prize_060

In [20]:
secondary_identifiers_060_list = secondary_identifiers_060['majorIdentifier'].tolist()
prize_060_uniprot_list = prize_060['Uniprot'].tolist()
intersection_060 = list(set(secondary_identifiers_060_list) & set(prize_060_uniprot_list))
print("Intersection:", intersection_060)

Intersection: ['Q7Z460', 'Q9NZN5', 'P49790', 'Q66PJ3', 'P26358', 'Q6KC79']

In [21]:
for item in intersection_060:
    print(secondary_identifiers_060.loc[secondary_identifiers_060['majorIdentifier'] == item])
    print(prize_060.loc[prize_060['Uniprot'] == item])
    print('---x---')

       Uniprot     Prize majorIdentifier integerN
1158  Q7Z460-4  1.867287          Q7Z460        4
    Uniprot     Prize majorIdentifier integerN
192  Q7Z460  3.545568          Q7Z460
---x---
       Uniprot     Prize majorIdentifier integerN
1185  Q9NZN5-2  1.847335          Q9NZN5        2
     Uniprot     Prize majorIdentifier integerN
1061  Q9NZN5  1.953872          Q9NZN5
---x---
     Uniprot     Prize majorIdentifier integerN
85  P49790-3  4.111796          P49790        3
    Uniprot     Prize majorIdentifier integerN
698  P49790  2.276198          P49790
---x---
       Uniprot     Prize majorIdentifier integerN
1654  Q66PJ3-2  1.344998          Q66PJ3        2
    Uniprot     Prize majorIdentifier integerN
155  Q66PJ3  3.661493          Q66PJ3
---x---
      Uniprot     Prize majorIdentifier integerN
555  P26358-2  2.379461          P26358        2
    Uniprot     Prize majorIdentifier integerN
251  P26358  3.272237          P26358
---x---
      Uniprot     Prize majorIdentifier integerN
375  Q6KC79-2  2.770612          Q6KC79        2
     Uniprot     Prize majorIdentifier integerN
1038  Q6KC79  1.972153          Q6KC79
---x---

## Compare prizes with network:

need to intersect the Uniprot identifiers in these prize files with those in the network file to see if the network file contains secondary identifiers with the -N syntax. If it does not, we will want to strip that syntax from the prize file as part of your preprocessing.

In [22]:
network_path = "C:/Users/sumed/BDS-SROP-24/spras_raw_data/phosphosite-irefindex13.0-uniprot.txt"

In [23]:
network_df = pd.read_csv(network_path, sep='\t', lineterminator='\n', header=None)
network_df.head()

             0            1         2  3
0  TACC1_HUMAN   RUXG_HUMAN  0.736771  U
1  TACC1_HUMAN  KAT2A_HUMAN  0.292198  U
2  TACC1_HUMAN  CKAP5_HUMAN  0.724783  U
3  TACC1_HUMAN  YETS4_HUMAN  0.542597  U
4  TACC1_HUMAN   LSM7_HUMAN  0.714823  U

In [24]:
network_df.columns

Index([0, 1, 2, 3], dtype='int64')

In [25]:
proteins_df = network_df[1].str.split('_', expand=True)
proteins_df.columns = ['proteins', 'human']
proteins_df = proteins_df.fillna('')
network_df = pd.concat([network_df, proteins_df], axis=1)
network_df.head()

             0            1         2  3 proteins  human
0  TACC1_HUMAN   RUXG_HUMAN  0.736771  U     RUXG  HUMAN
1  TACC1_HUMAN  KAT2A_HUMAN  0.292198  U    KAT2A  HUMAN
2  TACC1_HUMAN  CKAP5_HUMAN  0.724783  U    CKAP5  HUMAN
3  TACC1_HUMAN  YETS4_HUMAN  0.542597  U    YETS4  HUMAN
4  TACC1_HUMAN   LSM7_HUMAN  0.714823  U     LSM7  HUMAN

In [26]:
proteins_list = list(network_df['proteins'])
# print(proteins_list)

In [27]:
result = [x for x in proteins_list if '-' in x]
print(result)

[]

--> this means that there are no proteins in the network file containing secondary identifiers with the -N syntax

In [30]:
temp = list(set(proteins_list) & set(prize_05_uniprot_list))
print(temp)

['B7ZKJ8', 'Q9HBD4', 'J3KNL6', 'G3XAN8', 'F5H0R1', 'J3KPH8']