In [1]:
import pandas as pd

In [2]:
prize_05_path = "C:/Users/sumed/BDS-SROP-24/spras_raw_data/prize_05.csv"
prize_060_path = "C:/Users/sumed/BDS-SROP-24/spras_raw_data/prize_060.csv"

In [3]:
prize_05 = pd.read_csv(prize_05_path, sep='\t', lineterminator='\n')
prize_060 = pd.read_csv(prize_060_path, sep='\t', lineterminator='\n')

In [4]:
split_df_05 = prize_05['Uniprot'].str.split('-', expand=True)
split_df_05.columns = ['majorIdentifier', 'integerN']
split_df_05 = split_df_05.fillna('')
prize_05['Uniprot'] = split_df_05['majorIdentifier'].values
prize_05.head()

  Uniprot     Prize
0  B0YIW2  5.029366
1  Q99081  4.582688
2  P02765  4.027456
3  P69905  3.955817
4  P06732  3.885428

In [5]:
split_df_060 = prize_060['Uniprot'].str.split('-', expand=True)
split_df_060.columns = ['majorIdentifier', 'integerN']
split_df_060 = split_df_060.fillna('')
prize_060['Uniprot'] = split_df_060['majorIdentifier'].values
prize_060.head()

  Uniprot     Prize
0  A9Z1X7  6.343097
1  Q99081  6.341176
2  Q14152  6.278851
3  B0YIW2  5.581821
4  P69905  5.581821

In [6]:
protein_list_05 = prize_05['Uniprot'].tolist()
protein_list_060 = prize_060['Uniprot'].tolist()

In [7]:
combined_protein_list = protein_list_05 + protein_list_060
print(len(combined_protein_list))

2914

In [8]:
combined_protein_list = set(combined_protein_list)
print(len(combined_protein_list))

2085

In [9]:
proteins = pd.DataFrame(combined_protein_list, columns=['Uniprot'])
proteins.head()

  Uniprot
0  Q96K83
1  P07305
2  O95793
3  Q5QP82
4  Q9Y4I1

In [10]:
proteins.to_csv("C:/Users/sumed/BDS-SROP-24/spras_processed_data/prize_list_proteins.txt", header=None, index=False)