## Preprocess Prize Files to SPRAS compatible format

In [1]:
import pandas as pd

### strip the -N syntax from original prize files & taking max prize value

#### prize_05

In [2]:
prize_05_path = "C:/Users/sumed/BDS-SROP-24/spras_raw_data/prize_05.csv"
prize_05 = pd.read_csv(prize_05_path, sep='\t', lineterminator='\n')
prize_05.head()

  Uniprot     Prize
0  B0YIW2  5.029366
1  Q99081  4.582688
2  P02765  4.027456
3  P69905  3.955817
4  P06732  3.885428

In [3]:
split_df_05 = prize_05['Uniprot'].str.split('-', expand=True)
split_df_05.columns = ['majorIdentifier', 'integerN']
split_df_05 = split_df_05.fillna('')
prize_05['Uniprot'] = split_df_05['majorIdentifier'].values
prize_05.head()

  Uniprot     Prize
0  B0YIW2  5.029366
1  Q99081  4.582688
2  P02765  4.027456
3  P69905  3.955817
4  P06732  3.885428

In [4]:
uniprot_05 = prize_05['Uniprot'].tolist()
uniprot_05_set = set()
duplicate_uniprot_05 = [x for x in uniprot_05 if x in uniprot_05_set or uniprot_05_set.add(x)]
print(duplicate_uniprot_05)

['P26358', 'P49790', 'P46100']

In [5]:
print(len(prize_05))
for protein in duplicate_uniprot_05:
    mask = prize_05['Uniprot'] == protein
    subset = prize_05[mask]
    print(subset[subset.Prize != subset.Prize.max()])
    index = subset.index[subset.Prize != subset.Prize.max()]
    print(prize_05.loc[index])
    prize_05 = prize_05.drop(index=index)
    print('--x--')
print(len(prize_05))

1126
    Uniprot    Prize
368  P26358  1.98066
    Uniprot    Prize
368  P26358  1.98066
--x--
    Uniprot     Prize
675  P49790  1.655626
    Uniprot     Prize
675  P49790  1.655626
--x--
    Uniprot     Prize
791  P46100  1.533349
    Uniprot     Prize
791  P46100  1.533349
--x--
1123

#### prize_060

In [6]:
prize_060_path = "C:/Users/sumed/BDS-SROP-24/spras_raw_data/prize_060.csv"
prize_060 = pd.read_csv(prize_060_path, sep='\t', lineterminator='\n')
prize_060.head()

  Uniprot     Prize
0  A9Z1X7  6.343097
1  Q99081  6.341176
2  Q14152  6.278851
3  B0YIW2  5.581821
4  P69905  5.581821

In [7]:
split_df_060 = prize_060['Uniprot'].str.split('-', expand=True)
split_df_060.columns = ['majorIdentifier', 'integerN']
split_df_060 = split_df_060.fillna('')
prize_060['Uniprot'] = split_df_060['majorIdentifier'].values
prize_060.head()

  Uniprot     Prize
0  A9Z1X7  6.343097
1  Q99081  6.341176
2  Q14152  6.278851
3  B0YIW2  5.581821
4  P69905  5.581821

In [8]:
uniprot_060 = prize_060['Uniprot'].tolist()
uniprot_060_set = set()
duplicate_uniprot_060 = [x for x in uniprot_060 if x in uniprot_060_set or uniprot_060_set.add(x)]
print(duplicate_uniprot_060)

['P29590', 'P26358', 'P49790', 'Q6KC79', 'Q7Z460', 'Q9NZN5', 'Q66PJ3', 'Q32MZ4']

In [9]:
print(len(prize_060))
for protein in duplicate_uniprot_060:
    mask = prize_060['Uniprot'] == protein
    subset = prize_060[mask]
    print(subset[subset.Prize != subset.Prize.max()])
    index = subset.index[subset.Prize != subset.Prize.max()]
    print(prize_060.loc[index])
    prize_060 = prize_060.drop(index=index)
    print('--x--')
print(len(prize_060))

1788
    Uniprot     Prize
315  P29590  2.997793
    Uniprot     Prize
315  P29590  2.997793
--x--
    Uniprot     Prize
555  P26358  2.379461
    Uniprot     Prize
555  P26358  2.379461
--x--
    Uniprot     Prize
698  P49790  2.276198
    Uniprot     Prize
698  P49790  2.276198
--x--
     Uniprot     Prize
1038  Q6KC79  1.972153
     Uniprot     Prize
1038  Q6KC79  1.972153
--x--
     Uniprot     Prize
1158  Q7Z460  1.867287
     Uniprot     Prize
1158  Q7Z460  1.867287
--x--
     Uniprot     Prize
1185  Q9NZN5  1.847335
     Uniprot     Prize
1185  Q9NZN5  1.847335
--x--
     Uniprot     Prize
1654  Q66PJ3  1.344998
     Uniprot     Prize
1654  Q66PJ3  1.344998
--x--
     Uniprot     Prize
1770  Q32MZ4  1.059807
     Uniprot     Prize
1770  Q32MZ4  1.059807
--x--
1780

### modifying column headers

In [10]:
prize_05 = prize_05.rename(columns={'Uniprot': 'NODEID', 'Prize':'prize'})
prize_05.head()

   NODEID     prize
0  B0YIW2  5.029366
1  Q99081  4.582688
2  P02765  4.027456
3  P69905  3.955817
4  P06732  3.885428

In [11]:
prize_060 = prize_060.rename(columns={'Uniprot': 'NODEID', 'Prize':'prize'})
prize_060.head()

   NODEID     prize
0  A9Z1X7  6.343097
1  Q99081  6.341176
2  Q14152  6.278851
3  B0YIW2  5.581821
4  P69905  5.581821

In [12]:
# prize_05['sources'] = pd.Series(dtype='boolean')
# prize_05['targets'] = pd.Series(dtype='boolean')
# prize_05['active'] = pd.Series(dtype='boolean')
prize_05.head()

   NODEID     prize
0  B0YIW2  5.029366
1  Q99081  4.582688
2  P02765  4.027456
3  P69905  3.955817
4  P06732  3.885428

In [13]:
# prize_060['sources'] = pd.Series(dtype='boolean')
# prize_060['targets'] = pd.Series(dtype='boolean')
# prize_060['active'] = pd.Series(dtype='boolean')
prize_060.head()

   NODEID     prize
0  A9Z1X7  6.343097
1  Q99081  6.341176
2  Q14152  6.278851
3  B0YIW2  5.581821
4  P69905  5.581821

## do ID mapping based on the output from UNIPROT

In [14]:
id_mapping = pd.read_csv("C:/Users/sumed/BDS-SROP-24/spras_raw_data/idmapping_2024_06_26.tsv", sep='\t')
id_mapping = id_mapping.drop(columns=['Reviewed', 'Protein names'])
id_mapping.head()

     From   Entry   Entry Name
0  Q96K83  Q96K83  ZN521_HUMAN
1  P07305  P07305    H10_HUMAN
2  O95793  O95793  STAU1_HUMAN
3  Q5QP82  Q5QP82  DCA10_HUMAN
4  Q9Y4I1  Q9Y4I1  MYO5A_HUMAN

In [15]:
def mapping(prize_protein_name, id_mapping_df):
    try:
        network_protein_name = id_mapping.loc[id_mapping['Entry'] == prize_protein_name, 'Entry Name'].iloc[0]
    except IndexError:
        network_protein_name = prize_protein_name + '_HUMAN'
    return network_protein_name

In [16]:
mapping('plswork', id_mapping)

'plswork_HUMAN'

In [17]:
prize_05['MappedProteins'] = prize_05.apply(lambda row: mapping(row['NODEID'], id_mapping), axis=1)
prize_05.head()

   NODEID     prize MappedProteins
0  B0YIW2  5.029366   B0YIW2_HUMAN
1  Q99081  4.582688     HTF4_HUMAN
2  P02765  4.027456    FETUA_HUMAN
3  P69905  3.955817      HBA_HUMAN
4  P06732  3.885428     KCRM_HUMAN

In [18]:
mapped_proteins = prize_05['MappedProteins'].tolist()
prize_05['NODEID'] = mapped_proteins
prize_05 = prize_05.drop('MappedProteins',axis=1)
prize_05.head()

         NODEID     prize
0  B0YIW2_HUMAN  5.029366
1    HTF4_HUMAN  4.582688
2   FETUA_HUMAN  4.027456
3     HBA_HUMAN  3.955817
4    KCRM_HUMAN  3.885428

In [19]:
prize_060['MappedProteins'] = prize_060.apply(lambda row: mapping(row['NODEID'], id_mapping), axis=1)
prize_060.head()

   NODEID     prize MappedProteins
0  A9Z1X7  6.343097   A9Z1X7_HUMAN
1  Q99081  6.341176     HTF4_HUMAN
2  Q14152  6.278851    EIF3A_HUMAN
3  B0YIW2  5.581821   B0YIW2_HUMAN
4  P69905  5.581821      HBA_HUMAN

In [20]:
mapped_proteins = prize_060['MappedProteins'].tolist()
prize_060['NODEID'] = mapped_proteins
prize_060 = prize_060.drop('MappedProteins',axis=1)
prize_060.head()

         NODEID     prize
0  A9Z1X7_HUMAN  6.343097
1    HTF4_HUMAN  6.341176
2   EIF3A_HUMAN  6.278851
3  B0YIW2_HUMAN  5.581821
4     HBA_HUMAN  5.581821

## save these modified prize files

In [22]:
prize_05.to_csv("C:/Users/sumed/BDS-SROP-24/spras_processed_data/modified_prize_05.txt", index=False, sep='\t')
prize_060.to_csv("C:/Users/sumed/BDS-SROP-24/spras_processed_data/modified_prize_060.txt", index=False, sep='\t')